#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}


.image-container {
  display: flex;
}

.image-container img {
  margin-right: 10px; 
}

.skills-container {
  margin-top: 20px;
}

.skill {
  background-color: #f2f2f2; 
  border: 1px solid #ccc; 
  padding: 10px; 
  margin-bottom: 10px;
}

.interest {
  padding: 10px;
  border: 1px solid #ccc; 
  font-size: 24px; 
}


